@font-face {
    font-family: myFont;
    src: url(../fonts/Roboto-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: myFont;
}
body{
    background-color: hsl(234, 29%, 20%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.card{
    display: flex;
    background-color: white;
    width: 800px;
    padding: 40px;
    border-radius: 1.5rem;
}
.info{
    width: 60%;
    padding: 1rem;
}
h1{
    margin-top: 20px;
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.info p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 1.5rem;
    color: gray;
}
.ilustration{
    width: 40%;
}
.ilustration img{
    width: 100%;
}
ul{
    list-style-image: url(../img/icon-list.svg);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}
li{
    list-style-position: inside;
    color: gray;
}
.emailImput{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    width: 300px;
}
.emailImput label{
    font-size: 10px;
    margin-bottom: 5px;
}
form input{
    padding: 10px 20px;
    font-family: inherit;
    border-radius: 0.2rem;
    outline: none;
    border: 1px solid hsl(231, 7%, 60%);
}
.btn{
    margin-top: 1rem;
    font-family: inherit;
    padding: 10px 20px;
    border-radius: 0.5rem;
    background-color: hsl(234, 29%, 20%);
    color: white;
    cursor: pointer;
    border: none;
}
.btn:hover{
    background-color: hsl(4, 100%, 67%);
}
.card2{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem;
    width: 400px;
    border-radius: 2rem;
}
.card2 img{
    width: 40px;
    margin-bottom: 2rem;
}
.card2 h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 2rem;
    color: hsl(234, 29%, 20%);
}
.card2 p{
    margin-bottom: 2rem;
    color: gray;
}
.dismissBtn{
    padding: 10px 20px;
    background-color: hsl(234, 29%, 20%);
    border-radius: 0.5rem;
    color: white;
    cursor: pointer;
    border: none;
}
.dismissBtn:hover{
    background-color: hsl(4, 100%, 67%);
}
.hide{
    display: none;
}

@media (max-width:375px){
    .card{
        flex-direction: column-reverse;
        width: 90%;
        padding: 0;
        }
    .card h1{
        font-size: 30px;
    }
    .card p{
        font-size: 14px;
        color: hsl(234, 29%, 20%);
    }
    ul{
        font-size: 14px;
    }
    li{
        color: hsl(234, 29%, 20%);
    }
    .ilustration{
        width: 100%;
    }
    .ilustration img{
        content: url(../img/illustration-sign-up-mobile.svg);
    }
    .info{
        width: 100%;
    }
    .emailImput{
        width: 100%;
    }
    .card2{
        height: 100vh;
        border-radius: 0px;
    }
}

